.container {
  display: flex;
  height: 100vh;
}

.chat-list-container {
  width: 250px;
  border-right: 1px solid #ccc;
  height: 100vh;
}

.chat-list-scrollable-container {
  height: 0;
  overflow-y: auto;
}

.chat-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: transparent;
}